@import 'tailwindcss' prefix(drpw) source("../../../../src/vue/front") important;
@plugin "daisyui" {
  root: '.product-wizard-container';
}

.product-choice {
  img {
    max-height: 150px;
    object-fit: contain;
  }
}

.fade-enter-active,
.fade-leave-active {
  transition: opacity 0.25s ease-in-out;
}

.fade-enter-from,
.fade-leave-to {
  opacity: 0;
}

.slide-fade-enter-active,
.slide-fade-leave-active {
  transition: all 0.25s ease-in-out;
}

.slide-fade-enter-from,
.slide-fade-leave-to {
  transform: translateX(20px);
  opacity: 0;
}

.height-fade-enter-active,
.height-fade-leave-active {
  max-height: 1000px;
  overflow: hidden;
  transition-property: max-height, opacity;
  transition-timing-function: ease-in-out;
  transition-duration: 0.5s, 0.75s;
}

.height-fade-enter-from,
.height-fade-leave-to {
  max-height: 0;
  overflow: hidden;
  opacity: 0;
}
