{% extends '@Modules/drsoftfrproductwizard/views/templates/admin/base.html.twig' %}

{% block main %}
    <h1>Scénarios de configuration produits</h1>
    <p>Liste des configurateurs ici. (À remplir…)</p>
    {# Plus tard, bouton "Ajouter", listing, etc. #}
{% endblock %}
