{% extends '@Modules/drsoftfrproductwizard/views/templates/admin/base.html.twig' %}

{% block main %}
    <h1>Scénarios de configuration</h1>
    <a class="btn btn-primary mb-3" href="{{ path('admin_drsoft_fr_product_wizard_configurator_new') }}">Ajouter un
        scénario</a>
    <table class="table">
        <thead>
        <tr>
            <th>Nom</th>
            <th>Actif</th>
            <th>Créé le</th>
            <th>Actions</th>
        </tr>
        </thead>
        <tbody>
        {% for configurator in configurators %}
            <tr>
                <td>{{ configurator.name }}</td>
                <td>{% if configurator.active %}Oui{% else %}Non{% endif %}</td>
                <td>{{ configurator.dateAdd|date('d/m/Y H:i') }}</td>
                <td>
                    <a href="{{ path('admin_drsoft_fr_product_wizard_configurator_edit', {id: configurator.id}) }}"
                       class="btn btn-sm btn-warning">Éditer</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="4" class="text-center">Aucun scénario créé.</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
{% endblock %}
